{% extends 'layout.html' %}

{% block main %}
    <div class="container">
        <div class="row align-items-center justify-content-start mt-5">
            <div class="col-md-4 offset-md-1 col-sm-12">
                <img class="imges_art" src="img/a_propos/IMG_6M.jpg" alt="decoupe laser logo restore">
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="text-muted font-weight-light">
                Re-Store c'est une gamme de produits uniques créés à partir de matériaux majoritairement recyclés.
                Ici, on redonne vie à des objets voués au rebut.
                Mes créations mêlent ancien & moderne, bois & électronique et tout ce que je peux <strong>"Re-STORER"</strong>.
                </p>
            </div>
        </div>
        <div class="row align-items-center justify-content-start mt-5">
            <div class="col-md-4 offset-md-1 col-sm-12 order-1">
                <img class="imges_art" src="img/a_propos/IMG_1M.jpg" alt="atelier vide">
            </div>
            <div class="col-md-6 offset-md-1 col-sm-12">
                <p class="text-muted font-weight-light">
                Né dans les années 80 dans une famille de chineurs/bricoleurs, <br>j'ai toujours adoré désosser tout 
                ce qui ne fonctionnait plus. A force d'entendre ma mère me dire qu'il serait bien que je sache aussi 
                remonter les choses que je démonte, je me suis doucement dirigé vers un BEP électronique. Mais l'école 
                a vite eu raison de moi et ce n'ai qu'après 15 années passées dans les studios de télévision parisiens 
                que j'ai finalement décidé de me lancer à nouveau dans le bricolage.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-start mt-4">
            <div class="col-md-4 offset-md-1 col-sm-12">
                <img class="imges_art" src="img/a_propos/IMG_2M.jpg" alt="decoupe laser logo restore">
            </div>
            <div class="col-md-6 col-sm-12">
                <p class="text-muted font-weight-light">
                Installé à présent à Bordeaux, j'ai décidé de me confectionner un atelier pour pouvoir travailler le bois, le métal et l'électronique. 15 petits m2 dans lesquels je trouve l'inpiration pour recycler et transformer tous les objets que je récupère entre vide greniers, recycleries et dons de particuliers.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-start mt-4">
            <div class="col-md-4 col-sm-12 order-1">
                <img class="imges_art" src="img/a_propos/IMG_7M.jpg" alt="atelier vide">
            </div>
            <div class="col-md-6 offset-md-1 col-sm-12">
                <p class="text-muted font-weight-light">
                Mon crédo : transformer un bel objet en apparence inutile et lui donner une nouvelle vie, 
                une nouvelle fonction. Un vieux vinyle, une boîte de champagne ou de whisky, une vieille valise, 
                une alimentation PC, tout y passe !
                <br><br><strong>Rien ne se jette, tout se transforme</strong>.
                </p>
            </div>
        </div>
    </div>
{% endblock %} 
