{% extends 'layout.html' %}

{% block head %}
{{ parent() }}
<!-- CKEditor -->
<script src="assets/ckeditor/ckeditor.js"></script>
<!-- LIGHTBOX GALLERY -->
<link rel="stylesheet" type="text/css" href="assets/css/lightbox.min.css">
<script src="assets/js/lightbox-plus-jquery.min.js"></script>
{% endblock %}

{% block main %}
<!-- EDITEUR -->
<div class="container">
    <form method="POST" class="col-10 offset-1 mt-2" enctype="multipart/form-data">
        <!-- Editer un titre -->
        <label class="mt-2" for="titre1">Titre</label>
        <input type="text" id="titre1" class="form-control" name="titre" value="{{ titre_val }}">
        <!-- Editer une description -->
        <label class="mt-2" for="descrpt1">Description</label>
        <input type="text" id="descrpt1" class="form-control" name="descrpt" value="{{ descrpt_val }}">
        <!-- Editer un article -->
        <label class="mt-2" for="editor1">Article</label>
        <textarea name="article" id="editor1" rows="10" cols="80">{{ article_val }}</textarea>
        <script>
            CKEDITOR.replace( 'editor1', {
                language: 'fr',
                uiColor: '#cfdada'
            });
        </script>
        <!-- Categorie -->
        <label class="mt-2" for="catg">Categorie</label>
        {% block catg %}
        <select class="form-control" name="categorie">
            {% for catg in catg_drop %}
                {% if creations == catg.categorie %}
                    <option selected value="{{ catg.id_catg }}">{{ catg.categorie }}</option>';
                {% endif %}
            <option value="{{ catg.id_catg }}">{{ catg.categorie }}</option>';
            {% endfor %}
        </select>
        {% endblock %} 
        <button type="submit" class="btn btn-sm btn-danger mt-2">Valider</button>
        <a href="{{ ii }}article&id={{ id_art }}" class="btn btn-sm btn-warning mt-2">Annuler</a>
    </form>
</div>

<!-- ARTICLE -->
<div class="container">
    <div class="row">
        <div class="col-10 offset-1">
            <h3 class="text-right font-italic">{{ titre_art }}</h3>
            <div class="card mb-4 shadow-sm">
                <div class="row">
                    <div class="col-10 offset-1 p-0 my-4"> 
                        <a href="{{ mark1 }}" data-lightbox="gallery">
                            <img class="keymark" src="{{ mark1 }}" alt="{{ titre_art }}">
                        </a>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <!-- <div class="col-1"></div> -->
                    {% for key, image in images %}
                        {% if key >0 and key < 10 %}
                        <div class="col-1 p-1 m-0 opc-{{ key }}">
                            <a href="{{ image.url_img }}" data-lightbox="gallery">
                                <img class="imges_art" src="{{ image.url_img }}" alt="{{ titre_art }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="col-1 p-1 m-0 toast hide">
                            <a href="{{ image.url_img }}" data-lightbox="gallery">
                                <img class="imges_art" src="{{ image.url_img }}" alt="{{ titre_art }}">
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %} 
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ article | raw }}
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="index.php" class="btn btn-sm btn-outline-secondary mt-2 mx-2">Retour</a>
                            <a href="{{ ii }}editimages&id={{ id_art }}" class="btn btn-sm btn-success mt-2">Images</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>					
</div>
{% endblock %} 

{% block script %}
{{ parent() }}
<!-- LIGHTBOX GALLERY -->
<script> 
    lightbox.option({'resizeDuration': 200, 'fadeDuration':200, 'positionFromTop':50})
</script>
{% endblock %}