{% extends 'layout.html' %}

{% block main %}
<div class="container"></div>
    <div class="row" style="margin: 0px;">
        <form class="col-4 offset-4 pt-5" method="POST">
            <!-- Si la $_SESSION est ouverte on affiche un message et on empêche la reconnexion -->
            {% if admin != 'none' %}
                <p class="font-weight-bolder text-danger">Connecté en tant que {{ mail }}</p>
                <a href="{{ ii }}change" class="btn btn-warning">Changer d'utilisateur</a>
                <a href="{{ ii }}logout" class="btn btn-danger">Déconnexion</a>
            {% else %}
            <!-- Sinon on affiche le formulaire de login -->
            <p class="font-weight-bolder text-danger">{{ message }}</p>
            <div class="form-group">
                <label for="exampleInputEmail1">Mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" 
                name="mail" required value="{{ mail }}">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember" checked>
                <label class="form-check-label" for="exampleCheck1">Se souvenir</label>
            </div>
            <button type="submit" class="btn btn-danger" name="login_submit">Connexion</button>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %} 

{% block footer %}
{% endblock %}    
