{% extends 'layout.html' %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block header %}
{{ parent() }}
{% endblock %}   

{% block main %}
    <!-- ARTICLE -->
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h3 class="text-right font-italic">{{ titre_art }}</h3>
                    <div class="card mb-4 shadow-sm">
                        <div id="carouselExampleIndicators" class="carousel slide card-img-top" data-ride="carousel">
                            <ol class="carousel-indicators">
                                {{ js_carousel | raw }}                            
                            </ol>
                            <div class="carousel-inner">
                                {{ img_carousel | raw }}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Back</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ article | raw }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                <a href="index.php" class="btn btn-sm btn-outline-secondary mt-3 mx-2">Retour</a>
                                    {% if admin == 'admin' %}
                                    <a href="{{ ii }}edit&id={{ id_article }}" class="btn btn-sm btn-warning mt-3">Edit.</a>
                                    <a href="{{ ii }}editimages&id={{ id_article }}" class="btn btn-sm btn-success mt-3">Edit. IMG</a>
                                    <a href="" data-id="{{ id_article }}" data-title="{{ titre_art }}" 
                                        data-type="suppr" data-toggle="modal" data-target="#modaldelete" 
                                        class="delete btn btn-sm btn-danger mt-3">Suppr.
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>					
        </div>
    </div>

    <!-- Delete form method post -->
    <div class="modal fade" id="modaldelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form method="POST">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suppression article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Supprimer</button>
                    <input type="hidden" name="delete" id="idToDelete" value="" />
                </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %} 

{% block footer %}
{{ parent() }}
{% endblock %}    

{% block script %}
{{ parent() }}
<script>
    $(".delete").click(function(){
        //alert($(this).data('id'));
        var idElement = $(this).data('id'); 
        var titleElement = $(this).data('title'); 
        $('.modal-body').text("Souhaitez-vous supprimer '" + titleElement +"' ?");
        $('#idToDelete').val(idElement);
    });    
</script>
{% endblock %}